@import url('./fonts.css');
@import url('./variables.css');
@import url('./reset.css');
@import url('../css/form.css');
@import url('../css/task.css');
@import url('../css/menu.css');
@import url('../css/objetivo.css');

body {
  display: flex;
  align-items: center;
}

.container__desktop {
  max-width: var(--container-width-desktop);
  width: 100%;
  padding: var(--container-padding);
  padding-left: calc(var(--menu-width) + var(--container-padding));
  margin: 0 auto;
}